@import "antd/dist/antd.css";

body {
  background-color: aliceblue;
}

.content-layout {
  width: 1080;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

/* body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
} */
